@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto:wght@700&display=swap');

:root {
  font: 16px / 1 'Roboto Flex', sans-serif;
  --beige: rgb(191, 189, 186);
  --mint: rgb(180, 205, 180);
  --turquoise: rgb(179, 220, 216);
  --yellow-green: rgb(222, 223, 147);
  --lite-gray: rgb(217, 217, 222);
  --dark-gray: rgb(86, 89, 94);
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: var(--lite-gray);
  width: 100%;
  height: 100%;
  background-position: 90%;
  background-size: inherit;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--turquoise);
  margin-top: 0px;
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--yellow-green);
  box-shadow: 0 0.5rem 1.25rem rgba(183, 181, 181, 0.576);
}
.nav-icon {
  font-size: 1.8em;
  margin-top: 3px;
}
.nav-passport {
  background-color: var(--yellow-green);
}
.nav-button {
  margin-left: 8px;
  font: 1em /1.3 'Koulen', cursive;
  background-color: black;
  color: var(--lite-gray);
  border-radius: 9px;
  border: 2px solid var(--yellow-green);
  padding: 5px;
}

h4 {
  font: 24px/1 'Koulen', cursive;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

ul {
  display: flex;
  list-style: none;
  margin-right: 7px;
  margin-bottom: 12px;
}

li {
  margin-right: 5px;
  margin-left: 9px;
}

.welcome {
  background-image: url(/src/images/worldMap.svg);
  background-repeat: no-repeat;
  background-position: 40%;
  background-color: var(--lite-gray);
  background-size: cover;
  padding: 20px;
  font: 21px/1 'Roboto Flex', sans-serif;
  display: flex;
  flex-direction: column;
}
.about {
  background-color: rgba(179, 220, 216, 0.379);
  border: 3px solid var(--yellow-green);
  padding-bottom: 20px;
  padding-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font: 0.9em/1 'Roboto Flex', sans-serif;
  margin-top: 5px;
}

section div h5 {
  text-align: center;
  border-radius: 15px;
  font-size: 1.4em;
  padding: 10px;
}

section div h6 {
  margin-top: -30px;
  font: 1em/1 'Roboto Flex', sans-serif;
  text-align: center;
}

.random-country-button {
  font: 0.9em /1 'Roboto Flex', sans-serif;
  background-color: black;
  color: var(--lite-gray);
  border-radius: 12px;
  border: 2px solid var(--yellow-green);
  padding: 10px;
  margin-top: -25px;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}
.landing {
  display: flex;
  font: 0.7em /0.5 'Roboto Flex', sans-serif;
  justify-content: center;
  margin-top: 15px;
  text-decoration: underline;
}
.no-underline {
  text-decoration: none;
}

footer {
  display: flex;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: var(--turquoise);
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  border-top: 1px solid var(--yellow-green);
  margin-top: 30px;
}

footer div {
  margin-left: 5px;
  margin-right: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

.icons {
  font-size: 24px;
  margin-left: 10px;
  margin-right: 5px;
}
article.countries {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 24px/1 'Koulen', cursive;
  text-align: center;
  margin-bottom: 60px;
}

// Search: Countries Page
.search-image {
  height: 100vh;
  background-image: url(/src/images/worldMap.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 60%;
  width: 100%;
  height: 100%;
}
ul.search {
  flex-direction: column;
  margin-left: -30px;
}
.flag {
  margin-top: 4px;
}

form.search {
  display: flex;
  justify-content: center;
}

input.search {
  border: 2px solid var(--turquoise);
  border-radius: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 20px;
}

// AddCountry page
form.addCountry {
  display: flex;
  flex-direction: column;
}
p.addCountry {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
  padding-left: 10px;
  padding-right: 15px;
}
input.addCountry {
  margin-top: 2px;
  border: 2px solid var(--turquoise);
  border-radius: 5px;
  padding: 6px;
}
button.addCountry {
  margin-left: 10px;
  margin-top: 15px;
  font: 0.8em /1 'Roboto Flex', sans-serif;
  background-color: black;
  color: white;
  border-radius: 12px;
  border: 2px solid var(--yellow-green);
  padding: 9px;
  cursor: pointer;
}

.error-message {
  margin-bottom: 2px;
  margin-top: 23px;
  margin-left: 10px;
  margin-right: 15px;
  background-color: var(--yellow-green);
  border: 2px solid var(--turquoise);
  padding: 7px;
  border-radius: 5px;
}

// Country page
.country-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 3em/1 'Koulen', cursive;
}
.country-ml {
  margin-left: 5px;
}
.country-mr {
  margin-right: 5px;
}

.country-icon-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font: 1.3em/1 'Koulen', cursive;
}
.country-icon {
  color: var(--lite-gray);
  background-color: black;
  border-radius: 10px;
  padding: 7px;
  border: 1px solid var(--yellow-green);
  margin-left: 10px;
}
.country-icon-text {
  font: 1.6em/1 'Koulen', cursive;
  margin-left: 8px;
}
.country-descriptionAndImg {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.a-country {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.country-h3 {
  align-self: flex-start;
  margin-left: 54px;
  font-weight: bolder;
}

.country-p {
  margin-left: 55px;
  margin-right: 40px;
  margin-top: -10px;
  text-align: left;
}
.country-mb {
  margin-bottom: 90px;
}

// Media Query
@media (min-width: 768px) {
  body {
    background-image: url(/src/images/worldMap.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .welcome {
    padding: 70px;
    background-size: 90%;
    font: 2.1em/1.2 'Roboto Flex', sans-serif;
  }

  section div h5 {
    border-radius: 20px;
  }

  section div h6 {
    margin-top: -35px;
    font: 0.8em/1 'Roboto Flex', sans-serif;
    font-weight: bold;
  }
  h4 {
    margin-left: 7px;
  }
  ul {
    margin-right: 5px;
    font-size: 1.1em;
  }

  p {
    margin-right: 15px;
  }
  footer div {
    margin-left: 7px;
  }
  footer {
    margin-top: 90px;
  }
  .random-country-button {
    padding: 5px;
    margin-top: -20px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 20px;
    position: relative;
  }
  .about {
    margin-top: 0;
    margin-left: 80px;
    margin-right: 80px;
    font: 1.4em/1 'Roboto Flex', sans-serif;
  }

  footer {
    font-size: 14px;
  }

  // Countries Page

  article.countries {
    font-size: 2em;
    padding-bottom: 80px;
  }
  img {
    width: 300px;
  }

  // AddCountry page

  p.addCountry {
    font: 1.3em /1 'Roboto Flex', sans-serif;
    padding-left: 50px;
    padding-right: 345px;
  }
  button.addCountry {
    margin-left: 50px;
    margin-top: 20px;
    font: 1em /1 'Roboto Flex', sans-serif;
    padding: 8px;
  }
  .error-message {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 360px;
  }

  // Country page
  .country-container {
    font: 8em/1 'Koulen', cursive;
  }
  .country-ml {
    margin-left: 15px;
  }
  .country-mr {
    margin-right: 15px;
  }
  .country-icon-container {
    margin-left: 235px;
    font: 1.9em/1 'Koulen', cursive;
  }
  .country-icon {
    margin-left: 12px;
  }
  .country-icon-text {
    margin-top: 4px;
  }
  .country-h3 {
    align-self: flex-start;
    font: 2em /0.5 'Roboto Flex', sans-serif;
    margin-left: 300px;
    font-weight: 700;
  }
  .country-p {
    font: 1.3em /1 'Roboto Flex', sans-serif;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: -10px;
    text-align: left;
  }
  .a-country {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
  }
}
